 .iconsPlay{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #23d823;
  margin-bottom: .3rem;
 }

 .iconsStop{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 500;
  color: red;
  margin-bottom: .3rem;
 }

.mainContainer{
  width: 100%;
  height: 100%;
  max-width: 1080px;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  color: #fff;

 
  .statusContainer{
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
   
    .btnStatus{
      width: 18px;
      height: 18px;
      margin-right: .5rem;
      border: 1px solid #5b5b5b;
      border-radius: 50%;
      display: flex;
      font-size: 1rem;
      
    }
    
    .greenButton{
      background-color: #23d823;
    }

    .redButton{
      background-color: #a90629;
    } 

    span{
      font-size: 1rem;
      margin-right: 1rem;
    }

    .Icon{
      margin: 0 .5rem;
      font-size: 18px;
    }
    
  }

  .callContainer{
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
   
    h1{
      font-size: 2rem;
    }
  }  

  .auditorioContainer{
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border: 1px solid #5b5b5b;
   
    .settingsContainer{
      width: 100%;
      height: 100%;
      padding: 1rem;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      
      .navbar{
        height: 7em;
        width: 0px; 
        margin-top: -15px;
        margin-right: 30px;  
        pointer-events: visible;
        cursor: pointer;
        color: #fff;
      } 
        
      .sidebar{
      display: block;
      position: absolute;
      top: 330px;
      right: 125px;
      width: 250px; 
      max-height: 352px;
      margin-left: -1px; 
      padding: 1rem 0; 
      display: flex;
      flex-direction: column;  
      justify-content: center;
      align-items: center; 
      background-color: #000;
      border: 1px solid #5b5b5b;
      border-radius: 10px;
      transition: height 0.3s ease; 
      z-index: 3; 
      overflow: auto; 
      
      button{
        width: 70px;
        height: 30px;
        margin-left: .5rem;
        padding-top: .2rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        background: #000;
        font-size: 1.2rem;
        color: #fff;
        border: 0;
       
        &:hover{
          background: none;
        }

        .iconsPlay{
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          font-size: 30px;
          color: #23d823;
          margin-bottom: .3rem;
         }
        
         .iconsStop{
          display: flex;          
          flex-direction: row;
          align-items: center;
          justify-content: center;
          font-size: 30px;
          color: red;
          margin-bottom: .3rem;
         }
      }
      }
    
      .sidebar span{
      color: #fff;  
      padding: 1rem 0;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      font-weight: 500;
      } 
    
      .sidebar::-webkit-scrollbar {
        width: 10px; 
        border-radius: 5px;
       
      }
      
      .sidebar::-webkit-scrollbar-thumb {
        background-color: #888; 
        border-radius: 10px; 
      }
      
      .sidebar::-webkit-scrollbar-track {
        display: none;
      }
      
      .transmitionHost {
        width: 70%; 
        height: 380px;
        display: flex;
        align-items: center;
        justify-content: center;
      
        .videoHost {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border: 1px solid #5b5b5b;
          border-radius: 10px;
        }
      } 

  }  
   
    .customCarousel {
      width: 400px; 
      height: 130px;
      padding: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
     
      .carouselItem{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        
      }
     
      .videoPeers {
        width: 70%;
        height: 100%;
        margin: 0 33px;
        display: flex;
        align-items: center;
        justify-content: center;
       // border: 1px solid #5b5b5b;
        border-radius: 10px;
      }
    }  

    .Alice{
      width: 600px;
      height: 300px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 50px;
      background: #23d823;

      .slickItem{
        width: 30%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        background: #a53f3f;

        .videoPeers{
          width: 80%;
          height: 80%; 
          object-fit: cover;
          margin: 0 1rem;        
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          background: blue;

        }
      }
    }

     
    .admButtons{
      width: 100%;
      height: 100px;
      margin-left: .5rem;
      display: flex;
      align-items: center;
      justify-content: flex-start;
     // background: pink;

      button{
        width: 70px;
        height: 50px;
        margin-left: .5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #000;
        border: 1px solid #5b5b5b;
        color: #fff;
        border-radius: 4px;
        font-size: .5rem;
       
        &:hover{
          background: #181a20;
        }
      }

      .slider{
        max-width: 500px;
        height: 100px;
        background: red;

        .swiper{
          padding: 32px;
          max-width: 500px;

          .swiper-wrapper{
            max-width: 450px;

            .swiper-slide{
              display: flex;
              justify-content: center;
              width: 90px;
              color: aqua;
              background: blue;
            }
          }
        }
        
        

      }
    }
  }  
}