 .iconsPlay{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #23d823;
  margin-bottom: .3rem;
 }

 .iconsStop{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 500;
  color: red;
  margin-bottom: .3rem;
 }

.mainContainer{
  width: 100%;
  height: 100%;
  max-width: 1080px;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  color: #fff;

 
  .statusContainer{
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
   
    .btnStatus{
      width: 18px;
      height: 18px;
      margin-right: .5rem;
      border: 1px solid #5b5b5b;
      border-radius: 50%;
      display: flex;
      font-size: 1rem;
      
    }
    
    .greenButton{
      background-color: #23d823;
    }

    .redButton{
      background-color: #a90629;
    } 

    span{
      font-size: 1rem;
      margin-right: 1rem;
    }

    .Icon{
      margin: 0 .5rem;
      font-size: 18px;
    }    
  }

  .callContainer{
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
   
    h1{
      font-size: 2rem;
    }
  }  

  .auditorioContainer{
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border: 1px solid #5b5b5b;
  
    .settingsContainer{
      width: 100%;
      height: 100%;
      padding: 1rem 1rem 0;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    
      .transmitionHost {
        width: 70%; 
        height: 380px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       
        .videoHost {
          width: 100%;
          height: 360px;
          object-fit: cover;
          border: 1px solid #5b5b5b;
          border-radius: 10px;
        }
        
        .videoHostPlay {
          width: 100%;
          height: 360px;
          display: flex;
          align-items: center;
          justify-content: center;
          background:  #181a20;
          border: 1px solid #5b5b5b;
          border-radius: 10px;

          .cameraOff{
            width: 50px;
            height: 50px;
            color: #fff;
          }          
        }
        .statusMic{
          width: 100%;
          height: 25px;
          padding-right: .5rem;
          display: flex;
          align-items: flex-end;
          justify-content: flex-end;
          span{
            font-size: 1rem;
            color: #fff;
          }
        }
      } 
      
      .navbar{
        width: 30%;
        height: 400px;
        margin-top: -15px;       
        pointer-events: visible;
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
      
        .sidebar{
          width: 90%; 
          max-height: 345px;
          padding: 1rem 0; 
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
          background-color: #000000;
          border: 1px solid #5b5b5b;
          border-radius: 10px;
          transition: height 0.3s ease; 
          z-index: 3; 
          overflow: auto; 
  
          span{
            color: #fff;  
            padding: 1rem 0;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            font-size: 20px;
            font-weight: 500;
            } 
          
            .sidebar::-webkit-scrollbar {
              width: 10px; 
              border-radius: 5px;
             
            }
            
            .sidebar::-webkit-scrollbar-thumb {
              background-color: #888; 
              border-radius: 10px; 
            }
            
            .sidebar::-webkit-scrollbar-track {
              display: none;
            }
        
          button{
            width: 70px;
            height: 30px;
            margin-left: .5rem;
            padding-top: .2rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            background: #000;
            font-size: 1.2rem;
            color: #fff;
            border: 0;
          
            &:hover{
              background: none;
            }            
                        
            .iconsStop{
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 27px;
              font-weight: 500;
              color: red;
              margin-bottom: .3rem;
            }
  
            .iconsSpeakGreen{
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: center;
              font-size: 25px;
              color: #23d823;
              margin-bottom: .3rem;
            }
            
            .iconsSpeakRed{
              display: flex;          
              flex-direction: row;
              align-items: center;
              justify-content: center;
              font-size: 25px;
              color: red;
              margin-bottom: .3rem;
            }
          }
        }
      }      
    }
    
    .carouselContainer{
      width: 70%;
      max-height: 190px;
      max-height: 200px;
      margin-bottom: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background: red;
     
      .coHostCarousel{
        width: 100%;
        height: 100%;
        padding: 0 .5rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        
        .slickItem{
          width: calc(100%/3);
          height: 180px;
          //padding: 1rem 0;
          margin-left: .5rem;
          display: flex;
          align-items: center;
          justify-content: center;
        
          .videoPeers{
            width: 100%;
            height: 100%; 
            object-fit: cover;
            border-radius: 10px;      
          }
        }
    
        .videoHostPlay {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          background:  #181a20;
          border: 1px solid #5b5b5b;
          border-radius: 10px;
    
          .cameraOff{
            width: 30px;
            height: 30px;
            color: #fff;
          }          
        }
      }
    }
    
    
    .admButtons{
      width: 70%;
      height: 70px;
      margin-left: .5rem;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
     
      button{
        width: 70px;
        height: 50px;
        margin-left: .5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #000;
        border: 1px solid #5b5b5b;
        color: #fff;
        border-radius: 4px;
        font-size: .5rem;
       
        &:hover{
          background: #181a20;
        }
      }
       
        .statusMic{
          width: 200px;
          height: 100%;
          padding: 0 1rem;
          display: flex;
          align-items: flex-start;
          justify-content: center;
         
          span{
            font-size: .8rem;
            color: #fff;
          }
         
        }
    }
        
  }  
}